@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MixdTape.Models.Post>
@if (Model.Any())
{
<div class="dock">
    <h3 id="docktitle">Album Reviews</h3>
    <hr />
</div>
    @foreach (var listPost in Model.OrderBy(listPost => listPost.Id))
    {
        <div class="container post">
            <div class="skinny column lefty">
                <div class="menu">
                    <nav>
                        <script class="pitchfork" type="text/javascript" src="http://output25.rssinclude.com/output?type=js&amp;id=1148492&amp;hash=aaca347b484c2164752f31d0d749fd7a"></script>

                        @if (User.Identity.IsAuthenticated)
                        {

                            <p>@Html.ActionLink("Edit Post", "Edit", new { id = listPost.Id })</p>

                        }
                    </nav>
                </div>
            </div>

            <div class="fat column righty">

                <div class="content">
                    <div class="header-image">
                        <img src="@Html.DisplayFor(modelProduct => listPost.ImagePath)" />
                    </div>
                    <h2>@Html.DisplayFor(modelPost => listPost.Title)</h2>
                    <p>@Html.DisplayFor(modelPost => listPost.Description)</p>
 
                </div>
            </div>

        </div>
        
    }
}



@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("Create new", "Create")</p>

}
