@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

    @if (User.Identity.IsAuthenticated)
    {

        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
            <meta name="description" content="">
            <meta name="author" content="">
            <link rel="icon" href="../../favicon.ico">

            <title>Off Canvas Template for Bootstrap</title>

            <!-- Bootstrap core CSS -->
            <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

            <!-- Custom styles for this template -->
            <link href="offcanvas.css" rel="stylesheet">

            <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
            <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
            <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        </head>

        <body>
         
            <div class="jumbotron">
                <video id="video-background" preload muted autoplay loop>
                    <source src="~/img/concert.mp4" type="video/mp4">
                    <source src="~/img/concert.mp4"  type="video/ogg">
                </video>
                <div class="container hello">
                    <h1 id="hello">Hello, @User.Identity.Name!</h1>
                  
                    <p>New Album Releases</p>
                    <script type="text/javascript" src="http://output65.rssinclude.com/output?type=js&amp;id=1148112&amp;hash=fa7e4a4811ab24b3c2ba89be37049b9b"></script>
                </div>
            </div>
            <div class="profile-heading">
                <h3 id="profile">Your Profile <img src="~/img/rockon2.png" alt="rock on hand signal" id="rock" /></h3>
                <hr />
            </div>

            <div class="container body">

                <div class="row row-offcanvas row-offcanvas-right">

                    <div class="col-xs-12 col-sm-9">
                        <p class="pull-right visible-xs">
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                        </p>


                        <div class="row">
                            <div class="col-xs-6 col-md-3 col-lg-4">
                                <h2>Key Arena</h2>
                                <script type="text/javascript" src="http://output91.rssinclude.com/output?type=js&amp;id=1148163&amp;hash=830121bf988d7a4e0473753a3b13407a"></script>
                                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                            </div><!--/.col-xs-6.col-lg-4-->
                            <div class="col-xs-6 col-md-3 col-lg-4">
                                <h2>Showbox Market</h2>
                                <script type="text/javascript" src="http://output93.rssinclude.com/output?type=js&amp;id=1148163&amp;hash=830121bf988d7a4e0473753a3b13407a"></script>
                                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                            </div><!--/.col-xs-6.col-lg-4-->
                            <div class="col-xs-6 col-md-3 col-lg-4">
                                <h2>Tractor Tavern</h2>
                                <script type="text/javascript" src="http://output32.rssinclude.com/output?type=js&amp;id=1148163&amp;hash=830121bf988d7a4e0473753a3b13407a"></script>
                                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                            </div><!--/.col-xs-6.col-lg-4-->
                            <div class="col-xs-6 col-lg-4">
                                <h2>Neptune Theater</h2>
                                <script type="text/javascript" src="http://output79.rssinclude.com/output?type=js&amp;id=1148454&amp;hash=0e7d6077adc531c9d0fe8f0c24bde0f0"></script>
                                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                            </div><!--/.col-xs-6.col-lg-4-->
                            <div class="col-xs-6 col-md-3 col-lg-4">
                                <h2>WaMu Theater</h2>
                                <script type="text/javascript" src="http://output60.rssinclude.com/output?type=js&amp;id=1148454&amp;hash=0e7d6077adc531c9d0fe8f0c24bde0f0"></script>
                                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                            </div><!--/.col-xs-6.col-lg-4-->
                            <div class="col-xs-6 col-md-3 col-lg-4">
                                <h2>Neumos</h2>
                                <script type="text/javascript" src="http://output74.rssinclude.com/output?type=js&amp;id=1148454&amp;hash=0e7d6077adc531c9d0fe8f0c24bde0f0"></script>
                                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                            </div><!--/.col-xs-6.col-lg-4-->
                        </div><!--/row-->
                    </div><!--/.col-xs-12.col-sm-9-->
                    <br />
                    <br />
                    <br />

                </div>

                <hr>


            </div><!--/.container-->
            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
            <script src="../../dist/js/bootstrap.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
            <script src="offcanvas.js"></script>
        </body>
    </html>
        <hr />
        <div class="container">
<<<<<<< HEAD
            <p id="search">@Html.ActionLink("Find new artists", "Index", "Artists") &raquo;</p>
=======
            <p id="search">@Html.ActionLink("Search for new Artists and Tracks to add to your playlists", "Index", "Artists")</p>
            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                    #mc_embed_signup {
                        background: #fff;
                        clear: left;
                        font: 14px Helvetica,Arial,sans-serif;
                    }
                    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
                <form action="//caitlinehines.us16.list-manage.com/subscribe/post?u=7c7b2c0926a10b281eb55fc83&amp;id=77b27d4062" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <h2>Subscribe to our mailing list</h2>
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">
                                Email Address  <span class="asterisk">*</span>
                            </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-FNAME">First Name </label>
                            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-LNAME">Last Name </label>
                            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                        </div>
                        <div class="mc-field-group size1of2">
                            <label for="mce-BIRTHDAY-month">Birthday </label>
                            <div class="datefield">
                                <span class="subfield monthfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month"></span> /
                                <span class="subfield dayfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day"></span>
                                <span class="small-meta nowrap">( mm / dd )</span>
                            </div>
                        </div>	<div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7c7b2c0926a10b281eb55fc83_77b27d4062" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
            </div>

            <!--End mc_embed_signup-->
>>>>>>> 06219487b906a1dfd1da3fc091b1b04d8ac2a71a
        </div>
        <br />
        <br />
       

    }
    else
    {
        <div class="loginbody">


        </div>
        <div class="login">
            <h1 class="loginTitle">Mixd Tape</h1>
            <h4 class="secondTitle">Please sign in or make an account</h4>
            <p>@Html.ActionLink("Register", "Register")</p>
            <p>@Html.ActionLink("Log in", "Login")</p>
        </div>
    }


@if (User.Identity.IsAuthenticated)
{

    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}
